<div class="jumbotron">
    <h1>My Plants</h1>
</div>

<!-- PLANT LIST, ORGANIZED BY LOCATION/ROOM -->
<div class="container"> 
  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let room of rooms">
        <h4>{{room}}</h4>
        <ng-container *ngFor="let plant of plantList">
          <a *ngIf="plant.location === room"
          [class.selected]="plant === selectedPlant"
          (click)="onSelect(plant)">
            <ul>
              <li>{{plant.name}}</li>
            </ul>
          </a>
        </ng-container>
      </div>
  </div>

  <!-- DETAILS FOR SELECTED PLANT-->
  <div *ngIf="selectedPlant" class="col-md-6">
      <h2>{{selectedPlant.name | uppercase }} Profile</h2>
        <div>
          Placed in {{selectedPlant.location}}
          <br>
          Light Level: {{selectedPlant.light}}
          <br>
          Watering Schedule: {{selectedPlant.water}}
          <br>
          Acquired in {{selectedPlant.date}}
        </div>
    </div>
  </div>


<!-- MODAL (POPUP) -->
<button class="btn btn-primary"
        (click)="openModal(template)">Add A New Plant!</button>

<ng-template #template>
  <!-- Modal Header -->
  <div class="modal-header">
    <!-- Modal Title -->
    <h4 class="modal-title pull-left">New Plant</h4>
    <!-- Close Button -->
     <button type="button" 
            class="close pull-right" 
            (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div> 
  <!-- Modal Body -->
  <div class="modal-body">
    <p>Name: <input [(ngModel)]="newName" type="text"></p>
    <p>Location: <input [(ngModel)]="newLocation" type="text"></p>
    <p>Light: <input [(ngModel)]="newLight" type="text"></p>    
    <p>Water: <input [(ngModel)]="newWater" type="text"></p>
    <p>Date: <input [(ngModel)]="newDate" type="text"></p>
    <button class="btn btn-dark" (click)="addPlant()">Submit</button>
  </div>
</ng-template>

</div>



