
h3, h2 {
    font-family: 'Montserrat', sans-serif;
}

li, .details {
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    
}

.container {
    padding: 40px;
}

li {
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: #f8f9fa;
    list-style-type: none;
}


// BUTTON TO ADD NEW PLANT/OPEN MODAL
button {
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%; 
}

.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    border-radius: 35px; 
    font-size: 50px; 
    display: block;
    padding-top: 0px;
    text-align: center;
    line-height: 1em;
} 


// .col-md-4 {
//     padding-top: 100px;
// }

.details {
    background-color: pink;
    padding: 100px 20px 100px 20px;

}