h4, h3, h2 {
    font-family: 'Montserrat', sans-serif;
    
}

li, .details {
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;   
}

.col-md-5, .col-md-4 {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
}

.container {
    padding: 40px;
}

li {
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    list-style-type: none;
}


button {
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%; 
}

.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    border-radius: 35px; 
    font-size: 50px; 
    display: block;
    padding-top: 0px;
    text-align: center;
    line-height: 1em;
} 


.image {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

