.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    border-radius: 35px; 
    font-size: 50px; 
    display: block;
    padding-top: 0px;
    text-align: center;
    line-height: 1em;
} 

button {
    width:100px; 
    position: absolute;
    top:20%; 
    left:48%; 
}

.container-fluid {
    padding: 40px;
}

h4, h3, h2, h1 {
    font-family: 'Montserrat', sans-serif;
}

.head {
    text-align: center;
    padding-top: 30px; 
    padding-bottom: 30px;
}

.icon {
    max-width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10px;
}

.icon2 {
    max-width: 15%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10px;
}

.image {
    height: 100vh;
    min-height: 350px;
    background-size:cover;
    width:auto;
    background-image:url('src/assets/images/centerPlant.jpg');
    background-position:50% 50%;
}

li {
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    list-style-type: none;
}

li, .details {
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;   
}

p {
    text-align: center;
}