.container-sm {
    margin-top: 5%;
}
.card {
    width: 30rem;
}

.card-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.card-img-top {
    padding: 30px;
    margin-left: 25%;
}

img {
    height: auto;
    width: 50%;
}

p {
    font-family: 'Montserrat', sans-serif;   
}

a {
    color: black;
    font-weight: 600;
}