<mat-toolbar>
  <span>Sprout</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon">
    <a href="plants">
      <mat-icon>grass</mat-icon>
    </a>
  </button>
  <button mat-icon-button class="example-icon">
    <a href="obituary">
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
    </a>
  </button>
  <button mat-icon-button class="example-icon">
    <a href="profile">
      <mat-icon>account_circle</mat-icon>
    </a>
  </button>
</mat-toolbar>