<form [formGroup]="plantForm" (ngSubmit)="addPlant()">
    <table>
        <tr>
			<td>Name:</td>
			<td>
				<input class="form-control" formControlName="name" type="text">
            </td>
            <td *ngIf="plantForm.controls['name'].invalid && (plantForm.controls['name'].dirty || plantForm.controls['name'].touched)" class="error">
                <div *ngIf="plantForm.controls['name'].errors.required">
                    What kind of plant is this? 
                </div>
            </td>
        </tr>

        <tr>
            <td>Location: </td>
            <td >
                <select class="form-control" formControlName="location">
                    <option [ngValue]="null" disabled>Choose</option>
                    <option *ngFor="let room of rooms" [ngValue]="room">
                        {{room}}
                    </option>
                </select>
            </td>
            <td *ngIf="plantForm.controls['location'].invalid && (plantForm.controls['location'].dirty || plantForm.controls['location'].touched)" class="error">
                <div *ngIf="plantForm.controls['location'].errors.required">
                  Where are you keeping this plant? 
                </div>
            </td>
        </tr>

        <tr>
			<td>Light Level:</td>
			<td>
				<input class="form-control" formControlName="light" type="text">
            </td>
            <td *ngIf="plantForm.controls['light'].invalid && (plantForm.controls['light'].dirty || plantForm.controls['light'].touched)" class="error">
                <div *ngIf="plantForm.controls['light'].errors.required">
                    What level of light does this plant need? 
                </div>
            </td>
        </tr>

        <tr>
			<td>Watering Schedule:</td>
			<td>
				<input class="form-control" formControlName="water" type="text">
            </td>
            <td *ngIf="plantForm.controls['water'].invalid && (plantForm.controls['water'].dirty || plantForm.controls['water'].touched)" class="error">
                <div *ngIf="plantForm.controls['water'].errors.required">
                    How often do you need to water this plant? 
                  </div>
            </td>
        </tr>

        <tr>
			<td>Date Acquired: </td>
			<td>
				<input class="form-control" formControlName="date" type="text">
            </td>
            <td *ngIf="plantForm.controls['date'].invalid && (plantForm.controls['date'].dirty || plantForm.controls['date'].touched)" class="error">
                <div *ngIf="plantForm.controls['date'].errors.required">
                    When did you get this plant? 
                </div>
            </td>
        </tr>

    </table>

    <!-- Submit -->
    <!-- Won't be able to click if form hasn't been touched/is invalid -->
    <button type="submit"
    (click)="addPlant()"
    [disabled]="plantForm.pristine || plantForm.invalid" class="btn btn-success">
    Submit
    </button>

</form>