<form [formGroup]="angForm" novalidate>

    <div class="form-group">
        <label>Plant Name: </label>
        <input class="form-control" formControlName="name" type="text">
    </div>
    <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
    </div>

    <div class="form-group">
        <label>Plant Location: </label>
        <input class="form-control" formControlName="location" type="text">
    </div>
    <div *ngIf="angForm.controls['location'].invalid && (angForm.controls['location'].dirty || angForm.controls['location'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['location'].errors.required">
          Location is required.
        </div>
    </div>

    <div class="form-group">
        <label>Watering Schedule: </label>
        <input class="form-control" formControlName="water" type="text">
    </div>
    <div *ngIf="angForm.controls['water'].invalid && (angForm.controls['water'].dirty || angForm.controls['water'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['water'].errors.required">
          Watering Schedule is required.
        </div>
    </div>

    <div class="form-group">
        <label>Light Level:</label>
        <input class="form-control" formControlName="light" type="text">
    </div>
    <div *ngIf="angForm.controls['light'].invalid && (angForm.controls['light'].dirty || angForm.controls['light'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['light'].errors.required">
          Light Level is required.
        </div>
    </div>

    <div class="form-group">
        <label>Date Acquired:</label>
        <input class="form-control" formControlName="date" type="text">
    </div>
    <div *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty || angForm.controls['date'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['date'].errors.required">
          Date Acquired is required.
        </div>
    </div>

    <button type="submit"
        (click)="addPlant()"
        [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
        Save
    </button>
</form>