<div class="plant-list">
  <div *ngIf="!roomList?.length" class="no-rooms-prompt">
    <h1>You don't have anywhere to put your plants!</h1>
    <h3>Let's fix that. Add a new room to your profile</h3>
    <app-add-room-button></app-add-room-button>
  </div>

  <div *ngIf="roomList?.length" class="room-container">

    <div class="content-section implementation room-carousel">
      <div class="card">
        <app-room-carousel [roomList]="roomList"></app-room-carousel>
      </div>
    </div>
    <div id="add-room-button">
      <app-add-room-button></app-add-room-button>
    </div>
  </div>
</div>