$main-font: Montserrat, sans-serif;

agm-map {
    height: 700px;
    width: 400px;
    margin-left: 40px;
}

button {
    display: block;
    margin-top: 20px;
    margin-left: 22%;
}

.card {
    background-color: #f8f9fa;
}

.card-title {
    font:
        family; $main-font:
        size 20px
}

.details {
    margin-top: 20px;
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

h1, h4{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 70px;
    font-family: $main-font;
}

.head {
    margin-top: 5px;
}

.image {
    height: 100vh;
    min-height: 350px;
    background-size:cover;
    width:auto;
    background-image:url('src/assets/images/centerPlant.jpg');
    background-position:50% 50%;
  }
  
img {
    max-width: 20%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
    height: 700px;
}

.space {
    height: 60px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


