<div class="jumbotron">
    <h1>Shop Local</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <agm-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [styles]="styles"
                >

                <agm-marker
                    (markerClick)="onSelect(marker)"
                    *ngFor="let marker of markers; index as markerId"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng">
                </agm-marker>
                
            </agm-map>
        </div>

        <div class="col-sm-6 details"  *ngIf="selectedMarker">
            
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title multiline">Address</h4>
                        <p class="card-text">
                            {{selectedMarker?.address.join(', \n')}}
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Phone</h4>
                        <p class="card-text">
                            {{selectedMarker.phone}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title multiline">Address</h4>
                        <p class="card-text">
                            {{selectedMarker?.address.join(', \n')}}
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Website</h4>
                        <a href={{selectedMarker.website}} class="card-text">
                            {{selectedMarker.website}}
                        </a>
                    </div>
                </div>
            </div>

    </div>
</div>




 <!-- <h2 class="shop">{{selectedMarker.label}}</h2>
            <br>
            Address: 
            <div class="multiline">
                {{selectedMarker?.address.join(', \n')}}
            </div> -->
            <!-- Address: {{selectedMarker.address}}
            <br>
            Phone: {{selectedMarker.phone}}
            <br>
            Website: <a href={{selectedMarker.website}}>{{selectedMarker.website}}</a>    -->

