<div class="jumbotron">
    <h1>Shop Local</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <agm-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [styles]="styles"
                >

                <agm-marker
                    (markerClick)="onSelect(marker)"
                    *ngFor="let marker of markers; index as markerId"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng">
                </agm-marker>
                
            </agm-map>
        </div>

        <div class="col-sm-5" id="shop" *ngIf="selectedMarker">
            <h2>{{selectedMarker.label}}</h2>
            <br>
            Address: {{selectedMarker.address}}
            <br>
            Phone: {{selectedMarker.phone}}
            <br>
            Website: {{selectedMarker.website}}       
        </div>
    </div>
</div>