agm-map {
    height: 500px;
}

.container-fluid {
    margin-left: 30px;
    margin-right: 30px;
    
}

h2 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.details {
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    margin-right: 10px;
    
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.image {
    height: 100vh;
    min-height: 350px;
    background-size:cover;
    width:auto;
    background-image:url('src/assets/images/centerPlant.jpg');
    background-position:50% 50%;
  }

