<div class="image">
    <div class="container-fluid">
    <div class="row justify-content-sm-between">
        <div class="col-sm-4">
            <agm-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [styles]="styles"
                >

                <agm-marker
                    (markerClick)="onSelect(marker)"
                    *ngFor="let marker of markers; index as markerId"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng">
                </agm-marker>
                
            </agm-map>
        </div>

        <div class="col-sm-4 details"  *ngIf="selectedMarker">
            <h2>{{selectedMarker.label}}</h2>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Address</h4>
                        <ul class="card-text address">
                            <li *ngFor="let i of selectedMarker.address | slice:0:3">
                                {{i}}
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title ">Hours</h4>
                            <ul class="card-text">
                                <li *ngFor="let hour of selectedMarker.hours | slice:0:7">
                                    {{hour}}
                                </li>
                            </ul>
                    </div>
                </div>

            </div>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Phone</h4>
                        <p class="card-text">
                            {{selectedMarker.phone}}
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Website</h4>
                        <a href={{selectedMarker.website}} class="card-text">
                            {{selectedMarker.website}}
                        </a>
                    </div>
                </div>
            </div>
            

    </div>
</div>

<app-weather></app-weather>