/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Andale Mono, monospace;
}

.mat-dialog-container {
    background-color: white !important;
}

.mat-dialog-title {
    color: #34623f;
    font-family: Andale Mono, monospace;
}

.mat-card-subtitle {
    color: #34623f;
}

.mat-card {
    background-color: #fff;
    color: #34623f;
    font-family: Andale Mono, monospace;

    .mat-card-header .mat-card-title {
        font-size: 2rem;
    }

    .mat-card-actions {
        position: absolute;
        bottom: 0;
        padding: 1rem;
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #34623f;
}

.mat-select-value {
    color: #34623f;
}

.mat-form-field-label {
    color: #34623f;
}
.mat-form-field-appearance-outline {
    color: #34623f !important;
}

.mat-form-field .mat-focused .mat-form-field-label {
    color: #828c51 !important;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #34623f;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #34623f !important;
}

.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
    background-color: lightgray;
    color: #828c51;
}