.center {
  padding: 250px 40px;
}

.container-fluid {
  height: 870px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  padding-left: 12px;
}

.image {
    height: 100%;
    min-height: 870px;
    background: no-repeat center;
    background-size: cover;
    background-image: url('src/assets/images/plant2.jpg');
  }

p {
  font-family: adobe-garamond, serif;
  font-weight: 00;
  font-size: 18px;
  font-style: normal;
}
