<div class="container-fluid">
  <!-- Background Image -->
  <div class="image" style="background-image: url('https://source.unsplash.com/lWBZ01XRRoI/1800x1000')">
    <!-- Text -->
    <div class="center text-md-left">
      <div>
        <h1>Welcome to</h1>
        <h1>Sprout</h1>
        <br>
        <p class="col-4">A personal web application designed to keep track of my ever-growing collection of plants,
          add to the list as they accumulate, locate local garden centers, and help myself better care for the plants in my home.
        </p>
      </div>
    </div>
    
  </div>
  
</div>



