.image {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.center {
  padding: 250px 40px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: adobe-garamond, serif;
  font-weight: 00;
  font-size: 18px;
  font-style: normal;
}
