<section class="container-fluid">
  <div class="image" style="background-image: url('https://source.unsplash.com/lWBZ01XRRoI/1800x1000')">
    <div class="col-md-7 align-self-center center text-md-left">
      <div class="intro-text">
        <h1>Welcome to</h1>
        <h1>Sprout</h1>
        <br>
        <p>A personal web application designed to help myself better care for the plants in my home,</p>
        <p>locate my local garden centers,</p>
        <p>and add new plants as the accumulate.</p>
      </div>
    </div>
  </div>
</section>



