.image {
    height: 92vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
  }

.center {
  padding: 250px 40px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  padding-left: 12px;
}

p {
  font-family: adobe-garamond, serif;
  font-weight: 00;
  font-size: 18px;
  font-style: normal;
}
